@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap");
.txt_center {
  text-align: center;
}

.contact__sec01 .txt_center {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .contact__sec01 .txt_center {
    font-size: 15px;
    font-size: 4vw;
  }
}

.contact__sec01 h3 {
  margin: 50px auto;
}

@media screen and (max-width: 767px) {
  .contact__sec01 h3 {
    margin: 3em auto;
  }
}

@media screen and (min-width: 768px) {
  .tel_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 56px 80px 1em;
  }
}

@media screen and (max-width: 767px) {
  .tel_block {
    margin: 3em auto 1.5em;
  }
}

.tel_block__item {
  background: #faf9f7;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .tel_block__item {
    width: 49%;
  }
}

@media screen and (max-width: 767px) {
  .tel_block__item {
    margin-bottom: 1em;
  }
}

.tel_block__item a {
  display: block;
  pointer-events: none;
  padding: 2em;
}

@media screen and (min-width: 768px) {
  .tel_block__item a {
    padding-left: 58px;
  }
}

@media screen and (max-width: 767px) {
  .tel_block__item a {
    pointer-events: auto;
  }
}

.tel_block__head {
  font-weight: bold;
  padding-left: 65px;
  background: url("../images/common/icon_tel.png") no-repeat left top/56px auto;
}

@media screen and (max-width: 767px) {
  .tel_block__head {
    padding-left: 14.66667vw;
    background-size: 12vw auto;
    background-position: left 0.8vw;
    margin-bottom: .5em;
  }
}

.tel_block__office {
  font-size: 1.6rem;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .tel_block__office {
    font-size: 15px;
    font-size: 4vw;
  }
}

.tel_block__number {
  font-size: 3.4rem;
  color: #2fa876;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .tel_block__number {
    font-size: 30px;
    font-size: 8vw;
  }
}

@media screen and (max-width: 767px) {
  .tel_block__address {
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

@media screen and (min-width: 768px) {
  .consul_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.consul_block__item {
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .consul_block__item {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .consul_block__item {
    margin-bottom: 4em;
  }
}

.consul_block__item picture img {
  margin: 0 auto;
  width: 140px;
}

@media screen and (max-width: 767px) {
  .consul_block__item picture img {
    width: 32vw;
    height: auto;
  }
}

.consul_block__head {
  color: #2fa876;
  font-size: 2.4rem;
  padding-bottom: .9em;
  position: relative;
  margin-bottom: .8em;
}

@media screen and (max-width: 767px) {
  .consul_block__head {
    font-size: 22px;
    font-size: 5.86667vw;
  }
}

.consul_block__head:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #2fa876 transparent transparent transparent;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .consul_block__head:after {
    border-width: 2.13333vw 1.6vw 0 1.6vw;
  }
}

.consul_block__txt {
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 767px) {
  .consul_block__txt {
    font-size: 16px;
    font-size: 4.26667vw;
  }
}

.consul_block__btn {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 768px) {
  .consul_block__btn {
    margin-top: 50px;
  }
}

.consul_block__btn img {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .consul_block__btn img {
    width: 58.66667vw;
    height: auto;
  }
}

.consul_block__btn:hover {
  opacity: .7;
}

.question_block {
  background: #faf9f7;
  border-radius: 10px;
  text-align: center;
  padding: 3em 1em;
}

@media screen and (min-width: 768px) {
  .question_block {
    margin-top: 68px;
  }
}

.question_block p {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 767px) {
  .question_block p {
    font-size: 15px;
    font-size: 4vw;
  }
}

@media screen and (max-width: 767px) {
  .question_block ul {
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

.contact__sec02 {
  padding-bottom: 200px;
}

@media screen and (max-width: 767px) {
  .contact__sec02 {
    padding-bottom: 6em;
  }
}

.contact__sec02 .sub__ttl__main {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .contact__sec02 .sub__ttl__main {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 767px) {
  .contact__sec02 .txt_center {
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

.contact__form {
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .contact__form {
    font-size: 14px;
    font-size: 3.73333vw;
    margin-top: 3em;
  }
}

.contact__form dl {
  border-top: 1px solid #cccccc;
}

@media screen and (min-width: 768px) {
  .contact__form dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 28px 0;
  }
}

@media screen and (max-width: 767px) {
  .contact__form dl {
    padding: 1.5em 0;
  }
}

.contact__form dl dt {
  padding-bottom: .9em;
  position: relative;
  font-weight: bold;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .contact__form dl dt {
    width: 23%;
    padding-left: 24px;
  }
}

.contact__form dl dt .required, .contact__form dl dt .any {
  margin-left: .2em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.62;
  display: block;
  padding: 0 .9em;
}

@media screen and (max-width: 767px) {
  .contact__form dl dt .required, .contact__form dl dt .any {
    font-size: 13px;
    font-size: 3.46667vw;
  }
}

.contact__form dl dt .required {
  color: #FFF;
  background-color: #2fa876;
}

.contact__form dl dt .any {
  color: #332420;
  background-color: #cccccc;
}

@media screen and (min-width: 768px) {
  .contact__form dl dd {
    width: 68%;
  }
}

.contact__form dl dd p {
  color: #625b59;
}

.contact__form dl .horizontal-item {
  display: block;
  margin-left: 0 !important;
}

.contact__form input,
.contact__form button,
.contact__form select,
.contact__form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .contact__form input,
  .contact__form button,
  .contact__form select,
  .contact__form textarea {
    font-size: 1.4rem;
  }
}

.contact__form input::-webkit-input-placeholder, .contact__form button::-webkit-input-placeholder, .contact__form select::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
  color: #999999;
}

.contact__form input::-moz-placeholder, .contact__form button::-moz-placeholder, .contact__form select::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  color: #999999;
}

.contact__form input:-ms-input-placeholder, .contact__form button:-ms-input-placeholder, .contact__form select:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  color: #999999;
}

.contact__form input::-ms-input-placeholder, .contact__form button::-ms-input-placeholder, .contact__form select::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
  color: #999999;
}

.contact__form input::placeholder,
.contact__form button::placeholder,
.contact__form select::placeholder,
.contact__form textarea::placeholder {
  color: #999999;
}

.contact__form textarea {
  resize: vertical;
  margin-bottom: 1em;
}

.contact__form input[type="text"], .contact__form input[type="email"], .contact__form input[type="tel"] {
  background: #f2f2f2;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .contact__form input[type="text"], .contact__form input[type="email"], .contact__form input[type="tel"] {
    padding: 1.43em 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .contact__form input[type="text"], .contact__form input[type="email"], .contact__form input[type="tel"] {
    padding: 1.2em 1em;
  }
}

.contact__form input[type="radio"], .contact__form input[type="checkbox"] {
  display: none;
}

.contact__form input[type="radio"] + span, .contact__form input[type="checkbox"] + span {
  cursor: pointer;
  position: relative;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  padding: 0 0 0 2.4em;
}

.contact__form input[type="radio"] + span:before, .contact__form input[type="checkbox"] + span:before {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

@media screen and (min-width: 768px) {
  .contact__form input[type="radio"] + span:before, .contact__form input[type="checkbox"] + span:before {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form input[type="radio"] + span:before, .contact__form input[type="checkbox"] + span:before {
    width: 5.33333vw;
    height: 5.33333vw;
  }
}

.contact__form input[type="radio"] + span::after, .contact__form input[type="checkbox"] + span::after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  border-bottom: 4px solid #2fa876;
  border-left: 4px solid #2fa876;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .contact__form input[type="radio"] + span::after, .contact__form input[type="checkbox"] + span::after {
    width: 18px;
    height: 10px;
    top: 3px;
    left: 1px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form input[type="radio"] + span::after, .contact__form input[type="checkbox"] + span::after {
    width: 4.8vw;
    height: 2.66667vw;
    top: 0.8vw;
    left: 0.26667vw;
  }
}

.contact__form input[type="radio"]:checked + span::after, .contact__form input[type="checkbox"]:checked + span::after {
  opacity: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.contact__form label {
  cursor: pointer;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .contact__form label {
    margin: 0 0 1.5em 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .contact__form label {
    margin: 0.3em 0 !important;
  }
}

.contact__form textarea {
  background: #ededed;
  min-height: 12.8em;
}

@media screen and (min-width: 768px) {
  .contact__form textarea {
    padding: 1.43em 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .contact__form textarea {
    padding: 1.2em 1em;
  }
}

.contact__form .zip-mark {
  display: inline-block;
  float: left;
}

@media screen and (min-width: 768px) {
  .contact__form .zip-mark {
    line-height: 61px;
    width: 26px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form .zip-mark {
    line-height: 14.66667vw;
    width: 5.33333vw;
  }
}

@media screen and (min-width: 768px) {
  .contact__form .p-postal-code {
    width: 150px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contact__form .p-postal-code {
    width: 40%;
    margin-bottom: .5em;
  }
}

.contact__form .p-postal-code::-webkit-input-placeholder {
  color: #332420;
  text-align: center;
}

.contact__form .p-postal-code::-moz-placeholder {
  color: #332420;
  text-align: center;
}

.contact__form .p-postal-code:-ms-input-placeholder {
  color: #332420;
  text-align: center;
}

.contact__form .p-postal-code::-ms-input-placeholder {
  color: #332420;
  text-align: center;
}

.contact__form .p-postal-code::placeholder {
  color: #332420;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact__form .p-region {
    margin-left: 26px;
    width: 580px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form .p-region {
    width: calc(100% - 5.33333vw);
    margin-left: 5.33333vw;
  }
}

.contact__form .p-region + span {
  display: block;
}

@media screen and (min-width: 768px) {
  .contact__form .p-region + span {
    margin-left: 26px;
  }
}

@media screen and (max-width: 767px) {
  .contact__form .p-region + span {
    margin-left: 5.33333vw;
  }
}

.contact__form .contact__agree {
  border-top: 1px solid #cccccc;
  line-height: 2;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.contact__form .contact__agree .horizontal-item {
  display: block;
}

@media screen and (min-width: 768px) {
  .contact__form .contact__agree .horizontal-item {
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .contact__form .contact__agree .horizontal-item {
    width: 80vw;
  }
}

.contact__form .contact__agree .horizontal-item label {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .contact__form .contact__agree .mwform-checkbox-field-text {
    padding-right: 2em;
  }
}

.contact__form .contact__agree .mwform-checkbox-field-text:before {
  -webkit-transform: translateY(1.3em);
  transform: translateY(1.3em);
}

@media screen and (max-width: 767px) {
  .contact__form .contact__agree .mwform-checkbox-field-text:before {
    -webkit-transform: translateY(8.8vw);
    transform: translateY(8.8vw);
  }
}

.contact__form .contact__agree .mwform-checkbox-field-text:after {
  -webkit-transform: translateY(1.3em) rotate(-45deg);
  transform: translateY(1.3em) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .contact__form .contact__agree .mwform-checkbox-field-text:after {
    -webkit-transform: translateY(8.8vw) rotate(-45deg);
    transform: translateY(8.8vw) rotate(-45deg);
  }
}

.contact__form .contact__agree .contact__agree__text {
  padding: 0 0 0 2.4em;
}

.contact__form .contact__agree a {
  text-decoration: underline;
  color: #2fa876;
}

.contact__form .contact__agree a:hover {
  text-decoration: none;
}

.contact__form .contact__btn input {
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
  height: 90px;
  margin: 30px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  background: #2fa876;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .contact__form .contact__btn input {
    margin-top: 10.66667vw;
    max-width: 71.2vw;
    height: 13.86667vw;
    font-size: 20px;
    font-size: 5.33333vw;
  }
}

.contact__form .contact__btn input:hover {
  opacity: 0.7;
}
