@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap");
.mv,
.sub_first {
  background: #faf9e4;
}

.sub_first {
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .sub_first {
    padding-bottom: 16vw;
  }
}

.support {
  position: relative;
  padding-top: 56px;
  margin-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .support {
    margin-bottom: 10.66667vw;
    padding-top: 10.66667vw;
    padding-bottom: 42.66667vw;
  }
}

.support::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -14px;
  display: block;
  width: 253px;
  height: 258px;
  content: "";
  content: "";
  background: url("../images/flow/bg_support_left.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .support::before {
    left: 2.66667vw;
    width: 33.86667vw;
    height: 34.4vw;
  }
}

.support::after {
  position: absolute;
  z-index: 1;
  right: 30px;
  bottom: 0;
  display: block;
  width: 175px;
  height: 203px;
  content: "";
  background: url("../images/flow/bg_support_right.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .support::after {
    right: 2.66667vw;
    width: 23.46667vw;
    height: 26.93333vw;
  }
}

.support p {
  font-size: 2.1rem;
  line-height: 1.9;
  position: relative;
  z-index: 2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .support p {
    right: -20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .support p {
    font-size: 18px;
    font-size: 4.8vw;
  }
}

.pattern > p {
  font-size: 2.3rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .pattern > p {
    font-size: 18px;
    font-size: 4.8vw;
  }
}

.pattern__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .pattern__list {
    margin-bottom: 10.66667vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    row-gap: 10.66667vw;
  }
}

@media screen and (min-width: 768px) {
  .pattern__list li {
    width: calc((100% - 20px * 2) / 3);
  }
}

.pattern__list li img {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .pattern__list li img {
    margin: 0 auto 4.8vw;
    width: 80%;
  }
}

.pattern__list li span {
  font-size: 2rem;
  line-height: 1;
  display: block;
  text-align: center;
  color: #2fa876;
}

@media screen and (max-width: 767px) {
  .pattern__list li span {
    font-size: 16px;
    font-size: 4.26667vw;
  }
}

.flow-info {
  overflow: hidden;
  margin-top: 125px;
  padding-bottom: 280px;
}

@media screen and (max-width: 767px) {
  .flow-info {
    margin-top: 21.33333vw;
    padding-bottom: 42.66667vw;
  }
}

.flow-info__section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .flow-info__section:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: row-reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section {
    margin: 0 5.33333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    row-gap: 5.33333vw;
  }
}

.flow-info__section::before {
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
}

@media screen and (min-width: 768px) {
  .flow-info__section--01 {
    margin-bottom: 145px;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section--01 {
    padding-bottom: 53.33333vw;
  }
}

.flow-info__section--01::before {
  top: 55%;
  left: 29%;
  width: 258px;
  height: 346px;
  background: url("../images/flow/info_01_img.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__section--01::before {
    top: auto;
    bottom: 2.66667vw;
    left: 0;
    width: 34.4vw;
    height: 46.13333vw;
  }
}

@media screen and (min-width: 768px) {
  .flow-info__section--02 {
    margin-bottom: 123px;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section--02 {
    padding-bottom: 34.66667vw;
  }
}

.flow-info__section--02::before {
  top: 60%;
  right: 37%;
  width: 204px;
  height: 304px;
  background: url("../images/flow/info_02_img.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__section--02::before {
    top: auto;
    right: 0;
    bottom: 0;
    width: 27.2vw;
    height: 41.86667vw;
  }
}

@media screen and (min-width: 768px) {
  .flow-info__section--03 {
    margin-bottom: 178px;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section--03 {
    padding-bottom: 48vw;
  }
}

.flow-info__section--03::before {
  top: 64%;
  left: 33%;
  width: 230px;
  height: 306px;
  background: url("../images/flow/info_03_img.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__section--03::before {
    top: auto;
    bottom: 2.66667vw;
    left: 0;
    width: 30.66667vw;
    height: 40.8vw;
  }
}

@media screen and (min-width: 768px) {
  .flow-info__section--04 {
    margin-bottom: 138px;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section--04 {
    padding-bottom: 40vw;
  }
}

.flow-info__section--04::before {
  top: 60%;
  right: 34%;
  width: 227px;
  height: 327px;
  background: url("../images/flow/info_04_img.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__section--04::before {
    top: auto;
    right: 0;
    bottom: 0;
    width: 30.13333vw;
    height: 43.46667vw;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__section--05 {
    padding-bottom: 21.33333vw;
  }
}

.flow-info__section--05::before {
  top: 65%;
  left: 33%;
  width: 163px;
  height: 151px;
  background: url("../images/flow/info_05_img.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__section--05::before {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 21.6vw;
    height: 20vw;
  }
}

@media screen and (min-width: 768px) {
  .flow-info__txt {
    width: 410px;
  }
}

.flow-info__txt > p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}

@media screen and (max-width: 767px) {
  .flow-info__img {
    width: 80%;
    margin: 0 auto;
  }
}

.flow-info__ttl {
  font-size: 3rem;
  margin-bottom: 0.6em;
  padding-bottom: 0.2em;
  letter-spacing: 0.1em;
  border-bottom: 9px solid #fff835;
}

@media screen and (min-width: 768px) {
  .flow-info__ttl {
    margin-top: 28px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .flow-info__ttl {
    border-bottom: 1.06667vw solid #fff835;
    font-size: 24px;
    font-size: 6.4vw;
  }
}

.flow-info__list {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .flow-info__list {
    margin-bottom: 8vw;
  }
}

.flow-info__list li {
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  padding-left: 42px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .flow-info__list li {
    padding-left: 8vw;
    font-size: 16px;
    font-size: 4.26667vw;
  }
}

.flow-info__list li::before {
  position: absolute;
  top: 0.2em;
  left: 10px;
  display: block;
  width: 16px;
  height: 19px;
  margin: auto;
  content: "";
  background: url("../images/common/icon_check.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__list li::before {
    left: 1.6vw;
    width: 3.2vw;
    height: 4.26667vw;
  }
}

.flow-info__list li + li {
  margin-top: 0.5em;
}

.flow-info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #faf9e4;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .flow-info-box {
    padding: 2.66667vw;
  }
}

.flow-info-box--free {
  position: relative;
}

.flow-info-box--free::before {
  position: absolute;
  top: -50px;
  right: -10px;
  display: block;
  margin: auto;
  content: '';
  width: 96px;
  height: 96px;
  background: url("../images/common/icon_free.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info-box--free::before {
    top: -10.66667vw;
    right: -2.66667vw;
    width: 20vw;
    height: 20vw;
  }
}

.flow-info-box__txt {
  margin-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .flow-info-box__txt {
    margin-right: 1.33333vw;
  }
}

.flow-info-box__txt p {
  font-size: 1.4rem;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .flow-info-box__txt p {
    font-size: 12px;
    font-size: 3.2vw;
  }
}

.flow-info__notice {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 24px;
  padding: 11px 16px 13px 42px;
  color: #ffffff;
  background-color: #2fa876;
}

@media screen and (max-width: 767px) {
  .flow-info__notice {
    margin-top: 5.33333vw;
    padding: 2.4vw 3.2vw 2.93333vw 8.53333vw;
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

.flow-info__notice::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  display: block;
  width: 21px;
  height: 21px;
  margin: auto;
  content: "";
  background: url("../images/common/icon_exclamation.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow-info__notice::before {
    left: 2.13333vw;
    width: 4.26667vw;
    height: 4.26667vw;
  }
}
