@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap");
.mv {
  position: relative;
  background: #faf9e4;
}

.mv__img img {
  width: 100%;
  height: auto;
}

.mv__txt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  max-width: 1176px;
}

.mv__txt h1 {
  line-height: 0;
}

.mv__txt h1 span {
  display: inline-block;
}

.mv__txt h1 .ja {
  color: #2fa876;
  font-size: 4.6rem;
  line-height: 1.3;
  border-bottom: 2px solid #2fa876;
  padding-bottom: .3em;
}

@media screen and (max-width: 767px) {
  .mv__txt h1 .ja {
    font-size: 23px;
    font-size: 6.13333vw;
  }
}

.mv__txt h1 .en {
  position: absolute;
  left: 0;
  top: 6rem;
}

@media screen and (max-width: 767px) {
  .mv__txt h1 .en {
    top: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .mv__txt h1 .en img {
    height: 6rem;
    width: auto;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5%;
}

@media screen and (max-width: 767px) {
  .breadcrumb {
    padding-bottom: 0;
  }
}

.breadcrumb .home {
  color: #2fa876;
}

.breadcrumb .home a {
  color: #2fa876;
  margin-right: .5em;
}

.breadcrumb .home a:hover {
  opacity: .7;
}

.breadcrumb li + li {
  margin-left: .5em;
}

.sub_first {
  background: #faf9e4;
  padding-bottom: 100px;
}

.sub_first .wrap {
  margin-top: -4rem;
}

@media screen and (max-width: 767px) {
  .sub_first .wrap {
    margin-top: 0;
  }
}

.sub_ttl01 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 auto 1em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sub_ttl01 {
    margin: 0 auto .5em;
    font-size: 26px;
    font-size: 6.93333vw;
  }
}

ol li {
  list-style-position: inside;
}

.list_disc li {
  list-style: disc;
  list-style-position: inside;
}

.contact {
  padding: 45px 0 30px;
  background: url("../images/top/bg_contact.jpg") center/cover no-repeat;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 10.66667vw 0 8vw;
    background: url("../images/top/sp/bg_contact.jpg") center/cover no-repeat;
  }
}

.contact__ttl {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5em;
  text-align: center;
  text-shadow: 0px 0px 8px #ffffff, 0px 0px 8px #ffffff, 0px 0px 8px #ffffff;
}

@media screen and (max-width: 767px) {
  .contact__ttl {
    font-size: 28px;
    font-size: 7.46667vw;
  }
}

.contact__ttl + p {
  font-size: 1.8rem;
  line-height: 2;
  text-align: center;
  text-shadow: 0px 0px 8px #ffffff, 0px 0px 8px #ffffff, 0px 0px 8px #ffffff;
}

@media screen and (max-width: 767px) {
  .contact__ttl + p {
    font-size: 16px;
    font-size: 4.26667vw;
  }
}

.contact__box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 30px auto 0;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 768px) {
  .contact__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .contact__box {
    margin: 8vw 1.33333vw 0;
    padding: 9.6vw 4.8vw 16.53333vw;
  }
}

@media screen and (max-width: 767px) {
  .contact-tel {
    margin-bottom: 4.8vw;
  }
}

.contact-tel a {
  display: block;
  text-align: center;
  color: #2fa876;
}

@media screen and (min-width: 768px) {
  .contact-tel a {
    pointer-events: none;
  }
}

.contact-tel img {
  width: 49px;
  height: 49px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .contact-tel img {
    width: 12vw;
    height: 12vw;
  }
}

.contact-tel p {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .contact-tel p {
    font-size: 14px;
    font-size: 3.73333vw;
  }
}

.contact-tel p span {
  font-size: 3.4rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact-tel p span {
    font-size: 34px;
    font-size: 9.06667vw;
  }
}

@media screen and (min-width: 768px) {
  .contact-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .contact-btn li {
    width: calc((100% - 15px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .contact-btn li + li {
    margin-top: 2.66667vw;
  }
}

.contact-btn a {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 110px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  border-radius: 10px;
  background-color: #2fa876;
  gap: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .contact-btn a {
    line-height: 1.2;
    height: 21.33333vw;
    border-radius: 2.66667vw;
    gap: 4.26667vw;
    font-size: 20px;
    font-size: 5.33333vw;
  }
}

.contact-btn a::before {
  display: block;
  width: 51px;
  height: 40px;
  content: "";
  background: url("../images/common/icon_mail.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .contact-btn a::before {
    width: 10.4vw;
    height: 8vw;
  }
}

.contact-btn a:hover {
  opacity: 0.7;
}

.contact-btn a.line {
  color: #4cc764;
  border: 5px solid #4cc764;
  background-color: #ffffff;
}

.contact-btn a.line::before {
  width: 57px;
  height: 57px;
  background: url("../images/common/icon_line.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .contact-btn a.line::before {
    width: 12vw;
    height: 12vw;
  }
}

.area {
  padding: 100px 0;
  background-color: #faf9f7;
}

@media screen and (max-width: 767px) {
  .area {
    padding: 26.66667vw 5.33333vw 13.33333vw;
  }
}

@media screen and (min-width: 768px) {
  .area__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .area__txt {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .area__txt {
    margin-bottom: 10.66667vw;
  }
}

.area__txt p {
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .area__txt p {
    font-size: 16px;
    font-size: 4.26667vw;
  }
}

.area__ttl {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5em;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .area__ttl {
    font-size: 24px;
    font-size: 6.4vw;
  }
}

.area__ttl::before {
  position: absolute;
  bottom: 8px;
  left: calc(100% + 18px);
  display: block;
  width: 136px;
  height: 68px;
  margin: auto;
  content: "";
  background: url("../images/common/ttl_area.png") center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .area__ttl::before {
    left: 100%;
    bottom: 2.13333vw;
    width: 33.6vw;
    height: 18.13333vw;
  }
}

.area__subttl {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: #2fa876;
}

@media screen and (max-width: 767px) {
  .area__subttl {
    font-size: 18px;
    font-size: 4.8vw;
  }
}

.area__subttl span {
  font-size: 2.6rem;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0 0.3em;
}

@media screen and (max-width: 767px) {
  .area__subttl span {
    font-size: 24px;
    font-size: 6.4vw;
  }
}

.area__subttl span::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1em;
  margin: auto;
  content: "";
  background: #fff835;
}

@media screen and (min-width: 768px) {
  .area-covid {
    width: 50%;
  }
}

.area-covid__ttl {
  font-size: 2.2rem;
  padding: 13px 0;
  text-align: center;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  background-color: #50a3b2;
}

@media screen and (max-width: 767px) {
  .area-covid__ttl {
    font-size: 18px;
    font-size: 4.8vw;
    padding: 4.26667vw 0;
    border-radius: 2.66667vw 2.66667vw 0 0;
  }
}

.area-covid__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .area-covid__list {
    padding: 3.73333vw 0;
    border-radius: 0 0 2.66667vw 2.66667vw;
  }
}

.area-covid__list li {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.area-covid__list li + li {
  border-left: 1px solid #dcedf0;
}

.area-covid__list img {
  margin: 0 auto 12px;
}

@media screen and (max-width: 767px) {
  .area-covid__list img {
    margin: 0 auto 2.66667vw;
    width: 10.66667vw;
  }
}

.area-covid__list span {
  font-size: 1.8rem;
  display: block;
  color: #50a3b2;
}

@media screen and (max-width: 767px) {
  .area-covid__list span {
    font-size: 12px;
    font-size: 3.2vw;
  }
}

.sns-link {
  margin: 50px 0 70px;
}

@media screen and (max-width: 767px) {
  .sns-link {
    margin: 8vw 5.33333vw 37.33333vw;
  }
}

.sns-link ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .sns-link ul {
    gap: 5.33333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

.sns-link a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sns-link a:hover {
  opacity: 0.7;
}
