@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  case
//====================================

.mv,
.sub_first {
  background: #faf9e4;
}

.company__sec01 {
  h2.company__ttl {
    font-size: 34px;
    margin-bottom: 24px;
    color: #2fa876;
    text-align: center;
    letter-spacing: 0.05em;

  }

  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 80px;

    &.title {
      font-size: 21px;
      text-align: center;
      margin-bottom: 32px;
    }

  }

  .inner-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .total-produce {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      width: 343px;
    }

    .txt {
      width: 584px;

      p {
        text-align: left;
        margin-bottom: 40px;
      }
    }

  }
}

.showroom-office {
  background-image: url(../images/company/showroom-bg.jpg);
  background-size: cover;
  padding: 72px 0;

  .inner {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    div {
      &.first {
        width: 412px;

        img {
          margin-bottom: 8px;
        }
      }

      &.second {
        width: 580px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
          margin-bottom: 8px;
        }
      }
    }
  }
}
.company__sec02{
padding: 150px 0;
.h2-wrap{
  position: relative;
 
  img{
    position: absolute;
    top:-100px;
    left: calc(50% - 150px);
    z-index: 9;
    
  }
  h2{
    position: relative;
    z-index: 10;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 84px;
  }
}
.profile-list{
  dl{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    dt{
      width: 274px;
      padding: 24px 0;
      border-bottom: 1px solid #2fa876;
      font-size: 15px;
    }
    dd{
      width: 726px;
      padding: 24px 30px;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      img{
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
}

}
@media screen and (max-width: 767px) {
  .company__sec01 {
    .inner-wrap{
      display: block;
      margin-bottom: 60px;
      img{
        margin: 0 auto 16px;
      }
    }
    .total-produce {
      display:block;
  
      .title {
        width: 100%;
        margin-bottom: 32px;
        img{
          zoom:0.5;
          height: auto;
          margin:0 auto
        }

      }
  
      .txt {
        width:100%;
  
        p {
          text-align: left;
          margin-bottom: 40px;
        }
      }
  
    }
  }
  .showroom-office {
    padding:0;
  }
  .company__sec02{
    padding: 100px 0;
    .h2-wrap{
      position: relative;
     
      img{
        position: absolute;
        top:-100px;
        left: calc(50% - 200px);
        z-index: 9;
        zoom:0.5;
        
      }
      h2{
        position: relative;
        z-index: 10;
        font-size: 6.93333vw;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
      }
    }
    .profile-list{
      dl{
        width: 100%;
        margin: 0 auto 16px;
        border-bottom: 1px solid #ccc;
        dt{
          width: 30%;
          padding:12px 0;
          border-bottom: none;
          font-size: 15px;
          margin-bottom: 12px;
        }
        dd{
          width: 70%;
          padding:12px 2%;
          border-bottom: none;
          font-size: 15px;
          img{
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }
    }
    
    }
}