@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  line
//====================================

.page-line {
    a {
      transition: .3s;
      &:hover {
        opacity: 0.7;
      }
    }
    .mv_wrap {
      margin: 50px 0 46px;
    }
    .howto_wrap {
      width: 100%;
      display: flex;
      margin: 0 0 86px;
      @include mq(sp) {
        flex-direction: column;
      }
      .howto_box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
          border-right: 1px dashed #ccc;
          @include mq(sp) {
            border-right: none;
            margin-bottom: 3.2em;
          }
        }
        @include mq(sp) {
          width: 100%;
        }
        .howto_ttl {
          color: #2fa876;
          position: relative;
          font-size: 2.6rem;
          margin-bottom: 1.4em;
          &::before {
            content:"";
            position:absolute;
            width: 12px;
            height: 8px;
            background: url(../images/line/shape_triangle.png);
            left: calc(50% - 6px);
            bottom: -19px;
          }
          @include mq(sp) {
            @include fz(18);
            margin-bottom: 2em;
          }
        }
        .howto_cont {
          font-size: 1.7rem;
          @include mq(sp) {
            @include fz(14);
          }
        }
        .howto_img {
          height: 100%;
          display: flex;
          align-items: center;
          margin-top: 1.6em;
        }
      }
    }
    .concern_wrap {
      overflow: hidden;
      margin-bottom: 97px;
      .concern_box {
        background: url(../images/line/shape_q_left.png),url(../images/line/shape_q_right.png),#f2f2f2;
        background-repeat: no-repeat,no-repeat;
        background-position: left 11px top 48px,right 17px top 48px;
        padding: 50px 0 91px;
        @include mq(sp) {
          padding: 50px 0 147px;
          background-position: left 11px top 13px,right 17px top 4px;
          background-size: 9%;
        }
        .concern_ttl {
          text-align: center;
          position: relative;
          font-size: 2.5rem;
          letter-spacing: 0.06em;
          margin-bottom: 26px;
          @include mq(sp) {
            @include fz(18);
          }
          &::before {
            content:"";
            position:absolute;
            width: 15px;
            height: 26px;
            background: url(../images/line/shape_line_left.png);
            left: calc(50% - 220px);
            bottom: 5px;
            @include mq(sp) {
              left: calc(50% - 40vw);
              bottom: 0;
            }
          }
          &::after {
            content:"";
            position:absolute;
            width: 15px;
            height: 26px;
            background: url(../images/line/shape_line_right.png);
            right: calc(50% - 220px);
            bottom: 5px;
            @include mq(sp) {
              right: calc(50% - 40vw);
              bottom: 0;
            }
          }
        }
        .concern_list_wrap {
          display: flex;
          justify-content: center;
          .concern_list {
            background: #fff;
            width: 784px;
            border-radius: 30px;
            padding: 77px 0;
            position: relative;
            @include mq(sp) {
              width: 90%;
              padding: 38px 0;
            }
            li {
              font-size: 1.6rem;
              position: relative;
              margin-bottom: 33px;
              line-height: 1.6;
              letter-spacing: 0.1em;
              margin-left: 145px;
              @include mq(sp) {
                margin-left: 74px;
                width: 70%;
                @include fz(14);
              }
              &::before {
                content:"";
                position:absolute;
                width: 33px;
                height: 33px;
                background: url(../images/line/shape_check.png);
                left: -51px;
                bottom: calc(50% - 16.5px);
              }
            }
            &::before {
              content:"";
              position:absolute;
              width: 122px;
              height: 186px;
              background: url(../images/line/shape_person_left.png);
              left: -50px;
              bottom: -48px;
              @include mq(sp) {
                left: 12px;
                bottom: -150px;
              }
            }
            &::after {
              content:"";
              position:absolute;
              width: 141px;
              height: 180px;
              background: url(../images/line/shape_person_right.png);
              right: -57px;
              bottom: -44px;
              @include mq(sp) {
                right: 12px;
                bottom: -150px;
              }
            }
          }
        }
      }
      .concern_line_wrap {
        background: url(../images/line/img_line_step_bg.png),#faf9e4;
        background-position: bottom 0 left 50%;
        background-repeat: no-repeat;
        position: relative;
        padding: 50px 0 329px;
        @include mq(sp) {
          background-size: 90%;
          padding: 50px 0 140px;
        }
        &::before {
          content:"";
          position:absolute;
          width: 620px;
          height: 150px;
          background: #faf9e4;
          left: 50%;
          top: -184px;
          transform: rotateZ(8deg) translate(-552px, 151%);
          z-index: 1;
        }
        &::after {
          content:"";
          position:absolute;
          width: 620px;
          height: 150px;
          background: #faf9e4;
          right: 50%;
          top: -184px;
          transform: rotateZ(-8deg) translate(552px, 151%);
          z-index: 1;
        }
        .concern_line_ttl {
          text-align: center;
          position: relative;
          font-size: 2.5rem;
          letter-spacing: 0.06em;
          z-index: 2;
          margin-bottom: 38px;
          @include mq(sp) {
            @include fz(18);
          }
          &::before {
            content:"";
            position:absolute;
            width: 15px;
            height: 26px;
            background: url(../images/line/shape_line_left.png);
            left: calc(50% - 220px);
            bottom: 5px;
            @include mq(sp) {
              left: calc(50% - 40vw);
              bottom: 0;
            }
          }
          &::after {
            content:"";
            position:absolute;
            width: 15px;
            height: 26px;
            background: url(../images/line/shape_line_right.png);
            right: calc(50% - 220px);
            bottom: 5px;
            @include mq(sp) {
              right: calc(50% - 40vw);
              bottom: 0;
            }
          }
        }
        .concern_line_list {
          display: flex;
          justify-content: center;
          justify-content: space-evenly;
          padding: 0 40px;
          @include mq(sp) {
            flex-direction: column;
            align-items: center;
            padding: 0;
          }
          li {
            z-index: 2;
            text-align: center;
            @include mq(sp) {
              margin-bottom: 32px;
            }
            img {
              margin-bottom: 15px;
            }
            p {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .consul_wrap {
      .consul_step_wrap {
        display: flex;
        padding: 60px 0 24px;
        border-bottom: 1px dashed #ccc;
        @include mq(sp) {
          flex-direction: column;
        }
        .cont {
          width: 45%;
          @include mq(sp) {
            width: 100%;
            margin-bottom: 24px;
          }
          .consul_step_ttl {
            color: #2fa876;
            position: relative;
            font-size: 2.4rem;
            margin-bottom: 1.8em;
            letter-spacing: 0.1em;
            line-height: 1.45;
            margin-left: 96px;
            @include mq(sp) {
              @include fz(18);
            }
            &::before {
              content:"";
              position:absolute;
              width: 79px;
              height: 79px;
              left: -96px;
              bottom: calc(50% - 39px);
            }
          }
          p {
            margin-bottom: 32px;
          }
        }
        .img {
          width: 55%;
          display: flex;
          justify-content: flex-end;
          @include mq(sp) {
            width: 100%;
          }
        }
        &:nth-of-type(1) {
          padding: 0;
          .cont {
            padding: 60px 0 0px;
            .consul_step_ttl {
              margin-bottom: 2.2em;
              &::before {
                background: url(../images/line/img_step1.png);
              }
            }
          }
          .img {
            padding-top: 46px;
            .howto_wrap {
                margin: 0 0 56px;
            }
          }
        }
        &:nth-of-type(2) {
          .cont {
            .consul_step_ttl {
              &::before {
                background: url(../images/line/img_step2.png);
              }
            }
          }
          .img {
            img {
                height: 306px;
            }
            @include mq(sp) {
                height: auto;
              }
          }
        }
        &:nth-of-type(3) {
          padding: 60px 0 0;
          border-bottom: none;
          .cont {
            .consul_step_ttl {
              &::before {
                background: url(../images/line/img_step3.png);
              }
            }
          }
        }
      }
    }
  }