@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  magazine
//====================================

.mv,.sub_first{
  background: #FFF;
}
.magazineBlock__01{
  padding-top: 3em;
  padding-bottom: 4em;
  .magazinetop__img{
    margin-top: 3em;
    width: 100%;
    position: relative;
    @include mq(sp){
      margin-top: 0;
      margin-bottom: 3em;
    }
    &:after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      background: url(../images/magazine/magazine_img01-front.png)no-repeat center center;
      background-size: contain;
      width: 437px;
      height: 318px;
      @include mq(sp){
        max-width: 80%;
        max-height: 80%;
      }
    }
  }
  .magazineBlock_catWrap{
    background: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.3em 3em;
    margin-top: 50px;
    @include mq(sp) {
      margin-top: 2em;
      flex-wrap: wrap;
      justify-content: center;
    }
    .cat_ttl{
      font-size: 2.4rem;
      margin-right: 2em;
      @include mq(sp){
        @include fz(18);
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
    .cat_btn{
      @include mq(sp){
        margin: 1em 0;
      }
      a{
        padding: 0.5em 3em;
        border-radius: 19.5px;
        background: #fff;
        color: $c_base;
        border: 1px solid #d2dfda;
        position: relative;
        margin-right: 1.5em;
        transition: 0.3s;
        @include mq(sp){
          margin-right: 0;
        }
        &:hover{
          opacity: 0.7;
        }
        &:after{
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          border-radius: 1px;
          border-color: #2fa876 transparent transparent transparent;
          position: absolute;
        }
      }
    }
  }
}
.magazineBlock__02{
  padding-bottom: 160px;
  @include mq(sp) {
    padding-bottom: 4em;
  }
  .magazine-count{
    margin: 0 0 1em .5em;
    font-size: 1.6rem;
    @include mq(sp) {
      @include fz(16);
    }
  }
  .magazine-list{
    display: flex;
    margin-bottom: 67px;
    flex-flow: wrap;
    justify-content: center;
    @include mq(pc) {
      column-gap: 34px;
      row-gap: 60px;
    }
    @include mq(sp) {
      margin-bottom: vw(44);
    }
    li{
      width: calc((100% / 3) - 34px);
      @include mq(sp){
        width: 100%;
        margin-bottom: 2em;
      }
    }
  }
  .magazine-list__wrap{
    .magazine-list__img{
      position: relative;
      a{
        transition: 0.3s;
        &:hover{
          opacity: 0.7;
        }
      }
      .magazine-list__date{
        background-color: $c_base;
        color: #fff;
        padding: 0.3em 1em;
        display: inline-block;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
      img{
        border-radius: 10px;
        @include mq(sp){
          width: 100%;
        }
      }
    }
    .magazine-list__txt{
      a{
        transition: 0.3s;
        &:hover{
          opacity: 0.7;
        }
      }
      .magazine-list__category{
        margin-top: 1.5em;
        color: $c_base;
        position: relative;
        padding-left: 30px;
        
        &:before{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          background: url(../images/magazine/icon_category.svg) no-repeat center center;
          background-size: contain;
          width: 22px;
          height: 14px;
        }
      }
      .magazine-list__ttl{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 1em;
        @include mq(sp){
          @include fz(16);
        }
      }
      .magazine-list__excerpt{
        @include mq(sp){
                  
                }
      }
    }
  }
}
