@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  privacy
//====================================
.sub_first{
  background: #faf9e4;
}
.sub_ttl01:not(:first-of-type){
  padding-top: 2em;
  

}
ul,ol{
  li{
    margin: 1em 0;
  }
}
p{
  & + p{
    margin-top: 1em;
  }
}
