@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  privacy
//====================================
.sub_first{
  padding-bottom: 200px;
  @include mq(sp) {
    padding-bottom: 4em;
  }
}
.sub_ttl01:not(:first-of-type){
  margin-top: 2.8em;
  @include mq(sp) {
    margin-top: 2em;
  }

}
h3{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1em;
  @include mq(sp) {
    //@include fz(18);
  }
}
ul,ol{
  li{
    //margin: 1em 0;
  }
}
.list_kana{
  margin-bottom: 2.5em;
}
p{
  & + p{
    
  }
  & + p ,& + ul ,& + h3{
    margin-top: 2.5em;
  }
  a{
    color: $c_base;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
