@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  faq
//====================================
.page-faq{
    .mv__txt{
      .ja{
        z-index: 2;
      }
      .en{
        top: 3rem;
        z-index: 0;
      }
    }
    .faq_wrap{
      border-bottom: 1px dashed black;
      padding-bottom: 22px;
      margin-bottom: 44px;
      .sub_ttl_q{
        color: #2fa876;
        font-size: 1.6rem;
        font-weight: bold;
        position: relative;
        margin-left: 57px;
        margin-bottom: 44px;
        &::before {
          content:"";
          position:absolute;
          width: 42px;
          height: 42px;
          background: url(../images/qa/icon-q.png);
          left: -56px;
          top: -8px;
        }
      }
      .cont_a{
        font-size: 1.6rem;
        position: relative;
        margin-left: 57px;
        &::before {
          content:"";
          position:absolute;
          width: 42px;
          height: 42px;
          background: url(../images/qa/icon-a.png);
          left: -56px;
          top: -8px;
        }
      }
    }
  }