@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

.single {

  h1 {
    font-size: 5rem;
    margin-bottom: 0.5em;
    @include mq(sp) {
      padding-top: 1.5em;
      @include fz(35);
    }
  }
}

.post-date {
  display: block;
}

.post-content {
  max-width: 1040px;
  margin: 0 auto 140px;

  @include mq(sp) {
    margin: 0 0 vw(70);
  }
  > h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.4;
    position: relative;
    margin: 2em 0 1em;
    padding-bottom: 13px;

    @include mq(sp) {
      @include fz(26);
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 200px;
      height: 4px;
      margin: auto;
      content: "";
      background-color: $c_base;

      @include mq(sp) {
        width: vw(200);
        height: vw(2);
      }
    }
  }
  > h3 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.25;
    position: relative;
    margin: 2em 0 1em;
    padding-left: 32px;
    color: $c_base;

    @include mq(sp) {
      @include fz(20);
    }
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 22px;
      height: 4px;
      margin: auto;
      content: "";
      background-color: #cccccc;

      @include mq(sp) {
        width: vw(22);
        height: vw(4);
      }
    }
  }
  > h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    position: relative;
    margin: 2em 0 1em;
    padding-left: 15px;

    @include mq(sp) {
      @include fz(16);
    }
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      margin: auto;
      content: "";
      background-color: $c_base;

      @include mq(sp) {
        width: vw(4);
      }
    }
  }
  > h5 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 2em 0 1em;
    color: $c_base;
    @include mq(sp) {
      @include fz(14);
    }
  }
  > p {
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 2em;
    @include mq(sp) {
      @include fz(14);
    }
  }

  > ul {
    margin-bottom: 40px;
    @include mq(sp) {
      margin-bottom: vw(40);
    }
    li {
      font-size: 1.6rem;
      position: relative;
      padding-left: 13px;
      @include mq(sp) {
        padding-left: vw(13);
        @include fz(14);
      }
      &::before {
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
        width: 7px;
        height: 7px;
        margin: auto;
        content: "";
        border-radius: 50%;
        background-color: $c_base;
        @include mq(sp) {
          top: vw(8);
          width: vw(6);
          height: vw(6);
        }
      }
      + li {
        margin-top: 0.5em;
      }
    }
  }

  ol {
    margin-bottom: 40px;
    list-style: none;
    @include mq(sp) {
      margin-bottom: vw(40);
    }
    li {
      position: relative;
      padding-left: 1em;
      counter-increment: num;
      font-size: 1.6rem;
      @include mq(sp) {
        @include fz(14);
      }
      &::before {
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: auto;
        content: counter(num) ".";
        color: $c_base;
      }
    }
  }

  .wp-block-table {
    margin-bottom: 80px;

    @include mq(sp) {
      margin-bottom: vw(80);
      overflow: auto;
      white-space: nowrap;
      &::-webkit-scrollbar {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #bcbcbc;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;

      @include mq(pc) {
        max-width: 800px;
        table-layout: fixed;
      }
    }
    tr {
      &:first-child {
        td {
          font-weight: bold;
          background-color: #ecf0f3;
        }
      }
    }
    td {
      line-height: 1.25;
      padding: 0.5em 1em;
      vertical-align: middle;
      border: 1px solid #a6a6a6;
      background-color: #ffffff;
      font-size: 1.6rem;
      @include mq(sp) {
        @include fz(14);
      }
    }
    &.is-style-stripes {
      border-bottom: none;
      tr {
        &:first-child {
          td {
            border-top: none;
            border-bottom: 2px solid $c_base;
            background: none;
          }
        }
      }
      td {
        border-right: none;
        border-left: none;
        background: none;
      }
    }
  }

  .wp-block-quote {
    position: relative;
    margin-bottom: 80px;
    padding: 45px;
    background-color: #efefef;
    @include mq(sp) {
      margin-bottom: vw(40);
      padding: vw(35) vw(22) vw(25);
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 32px;
      height: 30px;
      margin: auto;
      content: "";
      background: url("../images/common/icon_quote.png") center/contain no-repeat;
      @include mq(sp) {
        width: vw(32);
        height: vw(30);
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 2;
      @include mq(sp) {
        @include fz(14);
      }
    }
  }

  .wp-block-image {
    margin-bottom: 80;
    @include mq(sp) {
      margin-bottom: vw(80);
    }
    img {
      margin-bottom: 10px;
      @include mq(sp) {
        margin-bottom: vw(10);
      }
    }
    figcaption {
      font-size: 1.4rem;
      line-height: 1.7142;
      @include mq(sp) {
        @include fz(12);
      }
    }
  }
}

.pager {
  margin-bottom: 100px;
}