@charset 'UTF-8';

// Import
@import "include/_variable";
@import "include/_mixin";

//====================================
//  MV
//====================================

.mv {
  position: relative;

}
.mv__img {

  img{
    width: 100%;
    height: auto;
  }
}

.mv__txt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 85%;
  height: fit-content;
  margin: auto;
  max-width: 1176px;
  @include mq(sp) {
    
  }
  h1{
    line-height: 0;
    span{
      display: inline-block;
    }
    .ja{
      color: $c_base;
      font-size: 4.6rem;
      line-height: 1.3;
      border-bottom: 2px solid $c_base;
      padding-bottom: .3em;
      @include mq(sp) {
        @include fz(23);
      }
    }
    .en{
      position: absolute;
      left: 0;
      top: 6rem;
      @include mq(sp) {
        top: 3rem;
      }
      img{
        @include mq(sp) {
          height: 6rem;
          width: auto;
        }
      }
    }
  }
}
.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5%;
  margin: auto;
  width: 500px;
  @include mq(sp) {
    padding-bottom: 0;
    width: 90%;
  }
  .home{
    color: $c_base;
    a{
      color: $c_base;
      
      &:hover{
        opacity: .7;
      }
    }
  }
  li{
    display: inline-block;
    & +li{
      margin-left: .5em;
    }
  }
  .arrow {
    color: $c_base;
    margin-right: .5em;
  }
}
//====================================
//  sub_first
//====================================

.sub_first{
  //background: #faf9e4;
  padding-bottom: 100px;
  @include mq(sp) {
    padding-top: 4em;
  }
  .wrap{
    //margin-top: -4rem;
    @include mq(sp) {
      margin-top: 0;
    }
  }
}

//====================================
//  パーツ
//====================================
.sub__ttl__main {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  width: fit-content;
  margin: 0 auto 0.5em;
  text-align: center;
  padding-bottom: 30px;

  @include mq(sp) {
    margin: 0 auto 1em;
    padding-bottom: 1em;

    @include fz(20);
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 87px;
    height: 0;
    border-bottom: 1px dashed $c_base;
    margin: auto;
  }

}

.sub_ttl01 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 1.3em;
  color: $c_base;

  @include mq(sp) {
    margin: 0 0 .5em;

    @include fz(24);
  }
}

.list_num{
  & > li{
    
    list-style-type: none;
    counter-increment: cnt;
    &:before {
      content: "(" counter(cnt) ") ";
    }
  }
}
.list_disc{
  li{
    list-style: disc;
    list-style-position: inside;
  }
}
.list_kana{
  & > li{
    list-style-type: none;
    counter-increment: number 1;
    &:before {
      content: "(" counter(number,katakana-iroha)  ") ";
    }
  }
}
.flex-block{
  display: flex;
  justify-content: space-between;
}
.date-list{
  dt,dd{
    margin-bottom: .8em;
    
    @include mq(sp) {
      text-align: center;
      @include fz(14);
    }
  }
  dt{
    float: left;
    @include mq(sp) {
      float: none;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  dd{
    @include mq(sp) {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px dashed #CCC;
    }
  }
}
//====================================
//  ページ送り
//====================================
.pagenavi{
  text-align: center;
  font-size: 1.6rem;
  @include mq(sp) {
    @include fz(16);
    margin: 0 -1em;
  }
  a,.extend{
    color: $c_base;
    margin: 0 1em 1em;
    display: inline-block;
    @include mq(sp) {
      margin: 0 .4em 1em;
    }
  }
  .extend{
    @include mq(sp) {
      @include fz(12);
      margin: 0 .3em;
    }
  }
  .pages{
    @include mq(sp) {
      display: block;
      margin-bottom: 1em;
    }
  }
  .page{
    padding: .5em 1em;
    @include mq(sp) {
      padding: .5em .5em;
    }
  }
  .current{
    background: #f2f2f2;
    border-radius: 3px;
    padding: .4em .9em;
    display: inline-block;
    @include mq(sp) {
      padding: .4em .8em;
    }
  }
  .first,.last{
    border-bottom: 1px solid $c_base;
    @include mq(sp) {
      
    }
  }
  .previouspostslink,.nextpostslink{
    text-indent: -100px;
    overflow: hidden;
    width: 20px;
    height: 40px;
    position: relative;
    vertical-align: middle;
    @include mq(sp) {
      width: #{vw(20)};
      height: #{vw(40)};
    }
    &:before{
      content: "";
      background:  url("../images/common/ico_pagearrow.png") no-repeat center/contain;
      display: inline-block;
      width: 100%;
      height: 7px;
      position: absolute;
      top: 23px;
      left: 0;
      @include mq(sp) {
        height: #{vw(7)};
        top: #{vw(25)};
      }

    }
  }
  .nextpostslink{
    transform: scale(-1, 1);
  }
  a{
    transition: .3s;
    &:hover{
      opacity: .7;
    }
  }
}
//====================================
//  施工事例
//====================================

.case {
  //margin-bottom: -200px;
  padding-top: 140px;
  padding-bottom: 200px;
  background: url("../images/top/bg_case.png") top 150px center no-repeat;

  @include mq(sp) {
    margin-bottom: -#{vw(80)};
    padding-bottom: vw(118);
    background: url("../images/top/sp/bg_case.png") top vw(200) center/contain no-repeat;
  }
}

.case__ttl {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  width: fit-content;
  margin: 0 auto 0.5em;
  text-align: center;
  padding-bottom: 30px;

  @include mq(sp) {
    margin: 0 auto 1em;
    padding-bottom: 1em;

    @include fz(26);
  }

  &::before {
    position: absolute;
    top: -84px;
    left: -43px;
    display: block;
    width: 151px;
    height: 91px;
    margin: auto;
    content: "";
    background: url("../images/common/ttl_case.png") center/contain no-repeat;

    @include mq(sp) {
      top: -#{vw(84)};
      left: -#{vw(78)};
      width: vw(156);
      height: vw(104);
    }
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 87px;
    height: 0;
    border-bottom: 1px dashed $c_base;
    margin: auto;
  }

}

.case-nav {
  display: flex;
  margin: 40px 0 60px;

  flex-flow: wrap;
  row-gap: 32px;

  @include mq(sp) {
    margin: vw(46) 0 vw(35);

    row-gap: vw(20);
  }

  li {
    box-sizing: border-box;
    border-right: 1px dashed #cccccc;

    @include mq(pc) {
      width: calc(100% / 4);
      &:nth-of-type(n + 5) {
        width: calc(100% / 5);
      }
      &:nth-of-type(1),
      &:nth-of-type(5) {
        border-left: 1px dashed #cccccc;
      }
    }

    @include mq(sp) {
      width: calc(100% / 3);
    }
  }
  a {
    display: block;
    padding: 21px 0;
    transition: 0.3s;
    text-align: center;

    @include mq(sp) {
      padding: vw(20) 0 vw(8);
    }

    &:hover {
      opacity: 0.7;
    }
  }
  img {
    margin: 0 auto 16px;

    @include mq(sp) {
      width: vw(42);
    }
  }
  span {
    display: block;

    @include mq(sp) {
      display: flex;
      height: 3em;

      @include fz(14);
      align-items: center;
      justify-content: center;
    }
  }
}

.case-list {
  display: flex;
  margin-bottom: 67px;

  flex-flow: wrap;

  @include mq(pc) {
    column-gap: 34px;
    row-gap: 40px;
  }

  @include mq(sp) {
    margin-bottom: vw(44);
  }

  > li {
    position: relative;

    @include mq(pc) {
      width: calc((100% - 34px * 2) / 3);
    }

    @include mq(sp) {
      & + li {
        margin-top: vw(27);
      }
    }

    &::before {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      border-radius: 10px;
      background: url("../images/common/bg_dot.png");
      @include mq(sp) {
        border-radius: vw(10);
      }
    }
  }
}

.case-list__wrap {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border: 1px solid #d2dfda;
  border-radius: 10px;
  background-color: #ffffff;
  > a {
    display: block;
    overflow: hidden;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 100%;
    }
  }
}

.case-list__txt {
  padding: 20px 20px 34px 20px;

  @include mq(pc) {
    display: flex;

    flex-flow: column;
  }

  @include mq(sp) {
    padding: vw(15) vw(24) vw(22);
  }

  > a {
    display: block;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    font-size: 1.4rem;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 1em;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include mq(sp) {
      @include fz(14);
    }
  }
}

.case-list__category {
  display: flex;
  margin-bottom: 10px;

  flex-flow: wrap;
  gap: 4px;
  a {
    font-size: 1.2rem;
    line-height: 1;
    display: flex;
    padding: 3px 8px;
    transition: 0.3s;
    border: 1px solid #d2dfda;
    border-radius: 30px;

    align-items: center;
    gap: 7px;

    @include mq(sp) {
      padding: vw(3) vw(8);

      @include fz(13);
    }

    &::before {
      display: block;
      width: 13px;
      height: 13px;
      content: "";
      background: url("../images/common/icon_category.jpg") center/contain no-repeat;

      @include mq(sp) {
        width: vw(13);
        height: vw(13);
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.case-list__ttl {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5em;

  @include mq(sp) {
    @include fz(15);
  }
}

.case-list__tag {
  display: flex;

  flex-flow: wrap;
  column-gap: 1em;
  row-gap: 0.2em;
  a {
    display: block;
    transition: 0.3s;
    color: $c_base;

    @include mq(sp) {
      @include fz(14);
    }

    &::before {
      content: "#";
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
//====================================
//  検索ボックス
//====================================
.search-block{
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 76px;
  padding: 28px;
  display: flex;
  justify-content: center;
  @include mq(sp) {
    margin-top: vw(40);
    display: block;
    padding: 2em 0;
    text-align: center;
  }
  .search-txt{
    margin-right: 1.8em;
    display: flex;
    align-items: center;
    @include mq(sp) {
      display: block;
      width: 100%;
      @include fz(14);
      margin-bottom: 1em;
      text-align: center;
    }
  }
  input[type="text"]{
    outline: none;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 1em;
    width: 280px;
    margin-right: 6px;
    @include mq(sp) {
      width: vw(260);
      margin: 0 auto 1em;
      @include fz(14);
    }
  }
  input[type="submit"]{
    outline: none;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 1em 1em 1em 47px;
    color: #FFF;
    width: 110px;
    text-align: left;
    background: $c_base url("../images/common/ico_search.png") no-repeat 26px center /19px;
    cursor: pointer;
    @include mq(sp) {
      width: vw(200);
      padding-left: vw(90);
      background-position: vw(60);
      background-size: vw(20);
      @include fz(14);
    }
    &:hover{
      opacity: .7;
    }
  }

}
